.main_others {
  background: white;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  .tlo{
    height: 100%;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: 0;
  }

  .content__image{
    position: absolute;
    z-index: 0;
    left: -20%;
    bottom: 30px;
    height: 100%;
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .logIn {
    display: none;
    margin: 37px 0 17px;
    @include desktop {
      display: flex;
    }
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: -100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    @include desktop {
      position: static;
      display: flex;
      width: unset;
      flex-direction: row;
      height: 42px;
      margin-left: 10px;
      background-color: transparent;
      transition: all 0.5s ease;
    }

    &__active {
      display: flex;
      right: 0;
      transition: all 0.5s ease;
    }

    &__element {
      height: 100%;
      padding: 9px 20px;
      color: $color-dark;
      font-size: 1.8rem;
      @include desktop {
        height: 100%;
        padding: 9px 20px;
        color: $color-dark;
        font-size: 1.8rem;
      }
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .content__text{
      margin-right: 10%;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.73);
      padding: 25px;

      .decoration{
        width: 40%;
        margin: 0 auto;
        margin-left: 30%;
        margin-top: 5%;
      }
    }

    &__title {
      font-size: 3.0rem;

      text-align: center;
    }



    &__buttons {
      margin: 30px 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .menu-icon {
    margin: 30px 30px 0 0;
    cursor: pointer;
    @include desktop {
      display: none;
    }

    .icon {
      font-size: 3.0rem;
    }
  }
}

.error{
  color: red;
}

.summary{
  width: 50%;
  min-width: 500px;
  margin-top: 40px;
  z-index: 1;
  padding: 20px;
  background-color: rgba(252, 252, 252, 0.68);
  .summary_title{
    font-size: 2.5em;
    text-align: center;
  }
  .decoration{
    width: 40%;
    font-size: 2.5em;
    text-align: center;
    margin-left: 30%;
  }
  .box_title{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
  }
  .four_step{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .box{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    transform: rotate(45deg);


    p{
      transform: rotate(-45deg);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }

    p:first-of-type{
      margin-left: -30px;
      margin-top: 15px;
    }
  }
}