.yellow {
  background-color: #ffb700;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  h5 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 40px;
    z-index: 1;
  }

  p {
    margin-left: 40px;
    margin-top: 10px;
    z-index: 1;
  }
}

.formularz {
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
  padding-left: 40px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  background-color: rgba(182, 180, 180, 0.38);
  min-height: 500px;

  input, label, select, {
    z-index: 1;
  }

  .bearBackground {
    position: absolute;
    right: 0px;
    z-index: 0;
    width: 100%;
    //height: 100%;
    margin-top: -20px;
  }

  h4 {
    position: relative;
    font-size: 1.2em;
    z-index: 1;
  }

  h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }

  h5 {
    font-size: 1.5em;
    margin-top: 20px;
    z-index: 1;
  }

  form {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    position: relative;
    z-index: 1;

    label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.2em;
      position: relative;
      z-index: 1;
    }
  }

  button {
    margin-top: 15px;
    padding: 5px;
    font-size: 1.2em;
    position: relative;
    z-index: 1;
  }
}

.adresss {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-width: 550px;

  .adresss_your {
    display: flex;
    min-width: 320px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    right: 0;

    h5 {
      margin-bottom: 20px;
    }

    label {
      margin-top: 5px;

      input {
        margin-left: 10px;
      }
    }
  }

  .adresss_info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    min-width: 320px;

    h5 {
      margin-bottom: 20px;
    }

    label {
      margin-top: 5px;

      input {
        margin-left: 10px;
      }
    }
  }
}

.formularz {
  .sum_first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;


    label {
      margin-top: 10px;
      font-size: 1.5em;
    }
  }

  .sum_sec {
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 20px;
    label {
      margin-top: 10px;
      font-size: 1.5em;
    }
    h5{
      margin-bottom: 10px;
    }
  }

  .sum_third {
    z-index: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 10px;
      font-size: 1.5em;
    }
    h5{
      margin-bottom: 10px;
    }
  }
}


.step1_form {
  input {
    display: none;
  }

  span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
  }

  label {
    margin-top: -4px;
  }

  input:checked + .quarter {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: #ffb700;
  }
}

.worki {
  padding: 10px;

  option {
    padding: 5px;
  }
}

.place {
  margin-top: 15px;
}

.place_select{
  font-size: 1.25em;
}

.instytucja {
  margin-top: 15px;
}

.person_help {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  font-size: 1.2em;

  input {
    display: none;
  }

  .check_button {
    display: inline-block;
    border: 1px solid black;
    margin: 5px 10px;
    padding: 5px;
  }

  input:checked + .check_button {
    background-color: #ffb700;
    border: 1px solid black;
  }
}

.step5_img{
  height: 30px;
}

.sum_first{
  padding: 20px;

  h5{
    display: flex;
  }

  img{
    display: inline-block;
    margin-right: 5px;
  }

  div{
    display: flex;
    align-items: center;
  }
}

.sum_container{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

