@import "./reset/reset";
@import "./settings/colors";
@import "./settings/fonts";
@import "./settings/mixins";


@import "./landingPage/header";
@import "./landingPage/headers";
@import "./landingPage/header_other";
@import "./landingPage/homeThreeColumns";
@import "./landingPage/homeFourColumns";
@import "./landingPage/aboutUs";
@import "./landingPage/weHelp";
@import "./landingPage/contact";
@import "./landingPage/logSign";
@import "./landingPage/step";

body{
  font-family: $font-base;
}

